@font-face {
    font-family: Bold;
    src: url(Ubuntu-Bold.ttf);
}

@font-face {
    font-family: Regular;
    src: url(Ubuntu-Medium.ttf);
}

* {
    font-family: Regular;
}

.word {
    font-family: Bold;
    font-size: 80px;
}

.definition {
    font-size: 30px;
}

.body {
    width: 800px;
    height: 300px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -400px;

}